.col-2, .col-3 {
  @extend %flex;
  flex-direction: column;
  // width: 10%;
  flex: 1;
  align-items: center;
  a {
    text-decoration: none;
    color: #a6a6a6;
    &:hover {
      color: #fff;
    }
    h3 {
      font-family: 'Capriola', sans-serif;
      font-weight: normal;
    }
  }
}

.col-1 {
  @extend %flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  img {
    padding: .4em;
  }
}


.col-2 {
  order: -1;
  text-align: right;
  align-content: center;
}
