/* Base Styles -------------------- */

body {
  background: #252525;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  color: #fff;
  letter-spacing: .1em;
  font-size: 4em;
  margin: 0 auto;
  padding-bottom: 20px;
}

.fancy {
  color: #B74ACC;
  font-family: 'Monoton', cursive;
  font-size: 0.9em;
}

p {
  font-family: 'Capriola', sans-serif;
  color: #a6a6a6;
  font-size: .8em;
  text-align: center;
}
